{% extends 'main/base.html' %}
{% block content %}

<form method="GET">
    <input type="text" name="nome" placeholder="Buscar por nome">
    <input type="submit" value="Buscar">
</form>

<a href="{% url 'localizacao.novo' %}">Novo</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Ativa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for localizacao in object_list %}
            <tr>
                <td>{{ localizacao.nome }}</td>
                <td>{{ localizacao.latitude }}</td>
                <td>{{ localizacao.longitude }}</td>
                <td>
                    {% if localizacao.ativa %}
                    Sim
                    {% else %}
                    Não
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'localizacao.editar' localizacao.pk %}">Editar</a>
                    <a href="{% url 'localizacao.remover' localizacao.pk %}">Remover</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}